body{
	background-color: #EFECCA;
}

h1{
	text-align: center;
	border-style: solid;
	border-size: 2px;
}

#list{
	border-style: solid;
	border-radius : 20px;
	border-size:1px;
	margin-top: 20px;
	padding-left : 30px;
}
	